.navbar_background {
	background-color: #000000 !important;
}
.menubar_logo_wrapper {
	border-radius: var(--border-radius-default);
	margin: auto;
}
.menubar_logo_wrapper img {
	max-width: 12rem;
	width: 100%;
}
.menubar_menu_wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.links {
	color: var(--white);
	padding: 1rem;
	margin: 0 1rem;
	font-size: 2rem;
	font-weight: bolder;
}

.links:hover{
	color: #ffa0ac !important;
}